{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	<h1>
		Liste des catégories
	</h1>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('category_create') }}" class="btn btn-success mb-3">
			<i class="fas fa-plus"></i>
			Ajouter une catégorie
		</a>
	{% endif %}
	<table class="table">
		<thead>
			<tr>
				<th>Catégorie</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>
						{{ category.name }}
					</td>
					<td class="text-center">
						<a href="{{ path('product_category', {slug:category.slug}) }}" title="Voir la liste des produits" class="text-success btn btn-link">
							<i class="fas fa-eye fa-lg"></i>
						</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('category_edit', {id:category.id}) }}" title="Modifier la catégorie" class="text-warning btn btn-link">
								<fa class="fas fa-edit fa-lg"></fa>
							</a>
							<a href="{{ path('category_delete', {id:category.id}) }}" title="Supprimer la catégorie" class="text-danger btn btn-link">
								<fa class="fas fa-trash fa-lg"></fa>
							</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
