<div class="card">
	<img src="{{ product.mainPicture }}" alt="Image du produit" class="img-fluid">
	<div class="card-body">
		<h4 class="card-title">
			{{ product.name }}({{ product.price / 100 }}
			&euro;)
		</h4>

		<span class="badge badge-info">
			{{ product.category.name }}
		</span>

		<p class="card-text">{{ product.shortDescription }}</p>
		<a href="{{ path('product_show', {category_slug: product.category.slug, slug: product.slug}) }}" class="btn btn-primary">Details</a>
		<a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success">Ajouter</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('product_edit', {id: product.id}) }}" class="btn btn-warning">Modifier</a>
		{% endif %}
	</div>
</div>
