{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}
	<h1>
		Liste des produits
	</h1>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('product_create') }}" class="btn btn-success mb-3">
			<i class="fas fa-plus"></i>
			Ajouter un produit
		</a>
	{% endif %}
	<table class="table">
		<thead>
			<tr>
				<th>Produit</th>
				<th>Catégorie</th>
				<th>Prix</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>
						<a href="{{ path('product_show', {category_slug: product.category.slug, slug: product.slug}) }}">{{ product.name }}</a>
					</td>
					<td>
						<a href="{{ path('product_category', {slug:product.category.name}) }}">{{ product.category.name }}</a>
					</td>
					<td>
						{{ product.price / 100}}
						&euro;
					</td>
					<td>
						<a href="{{ path('cart_add', {id: product.id}) }}" title="Ajouter au panier" class="text-success btn btn-link">
							<i class="fas fa-cart-plus fa-lg"></i>
						</a>
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('product_edit', {id:product.id}) }}" title="Modifier le produit" class="text-warning btn btn-link">
								<fa class="fas fa-edit fa-lg"></fa>
							</a>
							<a href="{{ path('product_delete', {id:product.id}) }}" title="Supprimer le produit" class="text-danger btn btn-link">
								<fa class="fas fa-trash fa-lg"></fa>
							</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
