<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{ path('home') }}">Ma Boutique</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('home') }}">Accueil
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
				<div class="dropdown-menu">
					{% for c in categoryRepository.findAll() %}
						<a class="dropdown-item" href="{{ path('product_category', {slug : c.slug}) }}">{{ c.name }}</a>
					{% endfor %}
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Tous les produits</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">À Propos</a>
			</li>
		</ul>

		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="{{ path('cart_index') }}" class="nav-link">
					<i class="fas fa-shopping-cart"></i>
					Panier (
					{{ cartService.total/100}}
					&euro; )
				</a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a href="{{ path('security_logout') }}" class="nav-link btn btn-danger">Déconnexion</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a href="#" class="nav-link">Inscription</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('security_login') }}" class="nav-link btn btn-success">Se connecter</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
